/*css³õÊ¼»¯´úÂë*/
html, body, h1, h2, h3, ul, li, dl, dt, dd, p, image, input {
    margin: 0;
    padding: 0;
}
input,button {
    border: none;
    outline: none;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
img {
    border: none;
}
h1, h2, h3, b {
    font-weight: normal;
}
i {
    font-style: normal;
}
body {
    background-color: #F6F6F6;
    font: normal normal 12px Microsoft YaHei;
    color: #666;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clearfix:after {
    content: '';
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
.clearfix:before{
    content: '';
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
.clearfix {
    zoom: 1;
}